Flex 레이아웃
<head> 
<title>Layout</title> 
<style> 
       body { 
              width: 500px; 
              margin: 10px auto; 
       } 
       #middle { display: flex; } 
       #left { width: 150px; background: red; } 
       #right { width: 350px; background: blue; } 
       #top { background: green; } 
       #bottom { background: purple; } 
</style>
</head>